Package: com.aohuiliu.ipadbar13
Name: iPadBar13
Depends: mobilesubstrate
Version: 2.0.0
Architecture: iphoneos-arm
Description: Awesome Status Bar!
Maintainer: AohuiLiu <x345242281@outlook.com>
Author: AohuiLiu, NoisyFlake <x345242281@outlook.com>
Section: Tweaks
