<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>headerFontPath</key>
	<string>/Library/Application Support/iPadBar13/futuraheavy.otf</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>TwitterCell</string>
			<key>account</key>
			<string>@AohuiLiu</string>
			<key>description</key>
			<string>iPadBar13 Developer</string>
			<key>height</key>
			<integer>57</integer>
			<key>avatar</key>
			<string>AohuiLiu</string>
			<key>action</key>
			<string>twitter_aohuiliu</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>TwitterCell</string>
			<key>account</key>
			<string>@NoisyFlake</string>
			<key>description</key>
			<string>iPadStatusBar Developer</string>
			<key>height</key>
			<integer>57</integer>
			<key>avatar</key>
			<string>NoisyFlake</string>
			<key>action</key>
			<string>twitter_noisyflake</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>TwitterCell</string>
			<key>account</key>
			<string>@Skitty</string>
			<key>description</key>
			<string>Skitty Preference Developer</string>
			<key>height</key>
			<integer>57</integer>
			<key>avatar</key>
			<string>Skitty</string>
			<key>action</key>
			<string>twitter_skitty</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Status Bar settings</string>
			<key>footerText</key>
			<string>It is highly recommended to update to iOS 13.4, which fixes the issue that iPadStatusBar not work in LockScreen.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>key</key>
			<string>EnableiPadStatusBar</string>
			<key>label</key>
			<string>iPad StatusBar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>key</key>
			<string>extraPadding</string>
			<key>label</key>
			<string>Extra Padding</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>key</key>
			<string>HideBarCC</string>
			<key>label</key>
			<string>Hide Status Bar In CC (13.4)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Show Items</string>
			<key>detail</key>
			<string>iPadBar13iconPrefsListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Percentage Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>key</key>
			<string>PercentInBattery</string>
			<key>label</key>
			<string>Percentage In Battery</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>key</key>
			<string>BoldPer</string>
			<key>label</key>
			<string>Bold Font</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Percentage Font Size</string>
		</dict>
		<dict>
			<key>showValue</key>
			<true/>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>default</key>
			<real>12</real>
			<key>min</key>
			<integer>10</integer>
			<key>max</key>
			<integer>15</integer>
			<key>key</key>
			<string>PerSize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Fake Percentage</string>
			<key>key</key>
			<string>Fakepencent</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13.prefschanged</string>
		</dict>
		<dict>
			<key>showValue</key>
			<true/>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>default</key>
			<integer>50</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>100</integer>
			<key>key</key>
			<string>FakePercentage</string>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Carrier</string>
			<key>footerText</key>
			<string>Keep Blank To Hide
No need to respring after changing string.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable</string>
			<key>key</key>
			<string>EnableCustomCarrier</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>String</string>
			<key>key</key>
			<string>CarText</string>
			<key>default</key>
			<string>iPadBar13</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>key</key>
			<string>BoldCar</string>
			<key>label</key>
			<string>Bold Font</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Carrier Font Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13.prefschanged</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>default</key>
			<integer>12</integer>
			<key>min</key>
			<integer>10</integer>
			<key>max</key>
			<integer>15</integer>
			<key>key</key>
			<string>CarSize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Data Settings</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Custom 4G &amp; LTE Text</string>
			<key>key</key>
			<string>EnableCustomData</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Data Text</string>
			<key>key</key>
			<string>DataText</string>
			<key>default</key>
			<string>10G</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>key</key>
			<string>BoldData</string>
			<key>label</key>
			<string>Bold Font</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Data Text Font Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13.prefschanged</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>default</key>
			<integer>12</integer>
			<key>min</key>
			<integer>10</integer>
			<key>max</key>
			<integer>15</integer>
			<key>key</key>
			<string>DataSize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Time Format</string>
			<key>footerText</key>
			<string>Default font size: 12
Time format MUST contain colon. (:)
Check your language from Format Example.
Too long time format may cause NO DISPLAY in app.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable</string>
			<key>key</key>
			<string>EnableCustomTimeFormat</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Language</string>
			<key>key</key>
			<string>lang</string>
			<key>default</key>
			<string>en_US</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>First Format</string>
			<key>key</key>
			<string>TimeFormat1</string>
			<key>default</key>
			<string>h:mm </string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>FontSize1</string>
			<key>min</key>
			<integer>5</integer>
			<key>max</key>
			<integer>20</integer>
			<key>default</key>
			<integer>14</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13/prefsupdated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Bold Font</string>
			<key>key</key>
			<string>BoldFont1</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Second Format </string>
			<key>key</key>
			<string>TimeFormat2</string>
			<key>default</key>
			<string>a </string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>FontSize2</string>
			<key>min</key>
			<integer>5</integer>
			<key>max</key>
			<integer>20</integer>
			<key>default</key>
			<integer>11</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Bold Font</string>
			<key>key</key>
			<string>BoldFont2</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>formatexample</string>
			<key>label</key>
			<string>Format Example</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NetWork Speed Settings</string>
			<key>footerText</key>
			<string>Need to TURN ON customing time format to display the network speed.
Too long time format may cause NO DISPLAY in app.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable</string>
			<key>key</key>
			<string>EnableNetspeed</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>FontSize3</string>
			<key>min</key>
			<integer>5</integer>
			<key>max</key>
			<integer>20</integer>
			<key>default</key>
			<integer>10</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Bold Font</string>
			<key>key</key>
			<string>BoldFont3</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Hide When Speed&lt;  K</string>
			<key>key</key>
			<string>limitbytes</string>
			<key>default</key>
			<string>0</string>
			<key>isNumeric</key>
			<string>true</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>TwitterCell</string>
			<key>account</key>
			<string>支付宝(AliPay)</string>
			<key>description</key>
			<string>给我买包辣条(Buy me a coffee)</string>
			<key>height</key>
			<integer>57</integer>
			<key>avatar</key>
			<string>alipay</string>
			<key>action</key>
			<string>AliPay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>TwitterCell</string>
			<key>account</key>
			<string>我的源(My Repo)</string>
			<key>description</key>
			<string>Add my repo to Cydia</string>
			<key>height</key>
			<integer>57</integer>
			<key>avatar</key>
			<string>repo</string>
			<key>action</key>
			<string>Repo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Developed with ♥︎ by AohuiLiu</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
	</array>
	<key>title</key>
	<string>iPadBar13</string>
</dict>
</plist>
