<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>headerFontPath</key>
	<string>/Library/Application Support/iPadBar13/futuraheavy.otf</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SublabelLinkCell</string>
			<key>label</key>
			<string>@AohuiLiu</string>
			<key>sublabel</key>
			<string>Fighting Developer</string>
			<key>action</key>
			<string>twitter_aohuiliu</string>
			<key>icon</key>
			<string>icon/AohuiLiu</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SublabelLinkCell</string>
			<key>label</key>
			<string>@NoisyFlake</string>
			<key>sublabel</key>
			<string>iPadStatusBar Developer</string>
			<key>icon</key>
			<string>icon/NoisyFlake</string>
			<key>action</key>
			<string>twitter_noisyflake</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SublabelLinkCell</string>
			<key>label</key>
			<string>@Skitty</string>
			<key>sublabel</key>
			<string>Skitty Preference Developer</string>
			<key>icon</key>
			<string>icon/Skitty</string>
			<key>action</key>
			<string>twitter_skitty</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Status Bar settings</string>
			<key>footerText</key>
			<string>It is highly recommended to update to iOS 13.4, which fixes the issue that iPadStatusBar not work in LockScreen.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>key</key>
			<string>EnableiPadStatusBar</string>
			<key>label</key>
			<string>iPad StatusBar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>key</key>
			<string>extraPadding</string>
			<key>label</key>
			<string>Extra Padding</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>key</key>
			<string>HideBarCC</string>
			<key>label</key>
			<string>Hide Status Bar In CC (13.4)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Show Items</string>
			<key>detail</key>
			<string>iPadBar13iconPrefsListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Percentage Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>key</key>
			<string>PercentInBattery</string>
			<key>label</key>
			<string>Percentage In Battery</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>validTitles</key>
			<array>
				<string>Default Font</string>
				<string>Bold Font</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>key</key>
			<string>BoldPer</string>
			<key>label</key>
			<string>Bold Font</string>
		</dict>
		<dict>
			<key>showValue</key>
			<true/>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LabeledSliderCell</string>
			<key>label</key>
			<string>Percentage Font Size</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>default</key>
			<real>12</real>
			<key>min</key>
			<integer>10</integer>
			<key>max</key>
			<integer>15</integer>
			<key>key</key>
			<string>PerSize</string>
			<key>height</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Fake Percentage</string>
			<key>key</key>
			<string>Fakepencent</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13.prefschanged</string>
		</dict>
		<dict>
			<key>showValue</key>
			<true/>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>default</key>
			<integer>50</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>100</integer>
			<key>key</key>
			<string>FakePercentage</string>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Carrier</string>
			<key>footerText</key>
			<string>Keep Blank To Hide
No need to respring after changing string.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable</string>
			<key>key</key>
			<string>EnableCustomCarrier</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Carrier Text: </string>
			<key>key</key>
			<string>CarText</string>
			<key>default</key>
			<string>iPadBar13</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>validTitles</key>
			<array>
				<string>Default Font</string>
				<string>Bold Font</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>key</key>
			<string>BoldCar</string>
			<key>label</key>
			<string>Bold Font</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LabeledSliderCell</string>
			<key>label</key>
			<string>Carrier Font Size</string>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13.prefschanged</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>default</key>
			<integer>12</integer>
			<key>min</key>
			<integer>10</integer>
			<key>max</key>
			<integer>15</integer>
			<key>key</key>
			<string>CarSize</string>
			<key>height</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Data Settings</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Custom 4G &amp; LTE Text</string>
			<key>key</key>
			<string>EnableCustomLTE</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Data Text: </string>
			<key>key</key>
			<string>DataText</string>
			<key>default</key>
			<string>10G</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>validTitles</key>
			<array>
				<string>Default Font</string>
				<string>Bold Font</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>key</key>
			<string>BoldData</string>
			<key>label</key>
			<string>Bold Font</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LabeledSliderCell</string>
			<key>label</key>
			<string>Data Text Font Size</string>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13.prefschanged</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>default</key>
			<integer>12</integer>
			<key>min</key>
			<integer>10</integer>
			<key>max</key>
			<integer>15</integer>
			<key>key</key>
			<string>DataSize</string>
			<key>height</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Time Format</string>
			<key>footerText</key>
			<string>Default font size: 12
Time format MUST contain colon. (:)
Too long time format may cause NO DISPLAY in app.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable</string>
			<key>key</key>
			<string>EnableCustomTimeFormat</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Language: </string>
			<key>key</key>
			<string>lang</string>
			<key>default</key>
			<string>en_US</string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>First Format: </string>
			<key>key</key>
			<string>TimeFormat1</string>
			<key>default</key>
			<string>h:mm </string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LabeledSliderCell</string>
			<key>label</key>
			<string>First Format Font Size</string>
			<key>key</key>
			<string>FontSize1</string>
			<key>min</key>
			<integer>5</integer>
			<key>max</key>
			<integer>20</integer>
			<key>default</key>
			<integer>14</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>height</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.aohuiliu.ipadbar13/prefsupdated</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>validTitles</key>
			<array>
				<string>Default Font</string>
				<string>Bold Font</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>label</key>
			<string>Bold Font</string>
			<key>key</key>
			<string>BoldFont1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Second Format: </string>
			<key>key</key>
			<string>TimeFormat2</string>
			<key>default</key>
			<string>a </string>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LabeledSliderCell</string>
			<key>label</key>
			<string>Second Format Font Size</string>
			<key>key</key>
			<string>FontSize2</string>
			<key>min</key>
			<integer>5</integer>
			<key>max</key>
			<integer>20</integer>
			<key>default</key>
			<integer>11</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>height</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>label</key>
			<string>Bold Font</string>
			<key>key</key>
			<string>BoldFont2</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>validTitles</key>
			<array>
				<string>Default Font</string>
				<string>Bold Font</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>SublabelLinkCell</string>
			<key>action</key>
			<string>formatexample</string>
			<key>label</key>
			<string>Format Help</string>
			<key>sublabel</key>
			<string>Don&apos;t know how to start? Check this!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NetWork Speed Settings</string>
			<key>footerText</key>
			<string>Too long time format may cause NO DISPLAY in app.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SublabelSwitchCell</string>
			<key>label</key>
			<string>Enable</string>
			<key>sublabel</key>
			<string>Enable custom time format first.</string>
			<key>key</key>
			<string>EnableNetspeed</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LabeledSliderCell</string>
			<key>label</key>
			<string>Speed Font Size</string>
			<key>key</key>
			<string>FontSize3</string>
			<key>min</key>
			<integer>5</integer>
			<key>max</key>
			<integer>20</integer>
			<key>default</key>
			<integer>10</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>height</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>label</key>
			<string>Bold Font</string>
			<key>key</key>
			<string>BoldFont3</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>validTitles</key>
			<array>
				<string>Default Font</string>
				<string>Bold Font</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LabeledSliderCell</string>
			<key>label</key>
			<string>Hide When Speed&lt;  K</string>
			<key>key</key>
			<string>limitbytes</string>
			<key>default</key>
			<string>0</string>
			<key>isSegmented</key>
			<true/>
			<key>showValue</key>
			<true/>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>100</integer>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>height</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Speed Style</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>speedStyle</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>validTitles</key>
			<array>
				<string>No decimal</string>
				<string>1 decimal</string>
				<string>2 decimals</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Speed Unit Style</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>speedUnitValue</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.aohuiliu.ipadbar13</string>
			<key>validTitles</key>
			<array>
				<string>K, M, G/s</string>
				<string>KB, MB, GB/s</string>
				<string>K, M, G</string>
				<string>KB, MB, GB</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SublabelLinkCell</string>
			<key>label</key>
			<string>支付宝(AliPay)</string>
			<key>sublabel</key>
			<string>给我买包辣条(Buy me a coffee)</string>
			<key>icon</key>
			<string>icon/alipay</string>
			<key>action</key>
			<string>AliPay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SublabelLinkCell</string>
			<key>label</key>
			<string>我的源(My Repo)</string>
			<key>sublabel</key>
			<string>Add my repo to Cydia</string>
			<key>icon</key>
			<string>icon/repo</string>
			<key>action</key>
			<string>Repo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Developed with ♥︎ by AohuiLiu</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
	</array>
	<key>title</key>
	<string>iPadBar13</string>
</dict>
</plist>
